.toggle {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

.toggle__label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
}

.toggle__switch {
  position: relative;
  display: block;
  flex: none;
  width: 50px;
  height: 30px;
}

.toggle__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-main-bg);
  border: 2px solid var(--color-frame);
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.toggle__slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-white);
  border-radius: 50%;
  transition: 0.3s linear;
}

.toggle__input:checked + .toggle__slider {
  background-color: var(--color-frame);
}

.toggle__input:checked + .toggle__slider:before {
  transform: translateX(100%);
}

.toggle__input:focus-visible + .toggle__slider {
  outline: var(--outline-focus);
  outline-offset: var(--outline-offset);
}

.toggle__slider:hover {
  cursor: pointer;
  opacity: var(--opacity-on-hover);
}

@supports not selector(:focus-visible) {
  .toggle__input:focus + .toggle__slider {
    outline: var(--outline-focus);
    outline-offset: var(--outline-offset);
  }
}
