.footer {
  flex: none;
  width: 100%;
  padding: 2rem 1rem;
}

.footer__link {
  display: block;
  width: fit-content;
  padding: 3px 0;
  margin: 0 auto;
  text-decoration: none;
  outline: none;
  color: var(--color-link);
  transition: opacity 0.5s linear;
  font-size: 1rem;
  font-weight: 400;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link:focus-visible {
  border-bottom: 3px dotted var(--color-link-active);
  color: var(--color-link-active);
}

@supports not selector(:focus-visible) {
  .footer__link:focus {
    outline: var(--outline-focus);
    outline-offset: var(--outline-offset);
  }
}

@media 
screen and (max-height: 400px),
screen and (max-width: 350px) {
  .footer {
    padding: 10px;
  }
}
