.lights {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  border: 3px solid var(--color-frame);
  border-radius: 20px;
}

.lights__color {
  width: 100px;
  height: 100px;
  background-color: var(--color-frame);
  border-radius: 50%;
}

@media screen and (max-width: 390px) and (orientation: portrait) {
  .lights {
    flex-flow: column nowrap;
  }
}