@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 112.5%;
  --color-white: #e4e4e4;
  --color-red: hsl(0, 90%, 55%);
  --color-yellow: hsl(60, 89%, 42%);
  --color-green: hsl(140, 85%, 35%);
  --color-main-bg: #242424;
  --color-text: var(--color-white);
  --color-link: var(--color-white);
  --color-link-active: #98d3fb;
  --color-frame:  #698fa8;
  --outline-focus: 2px dotted var(--color-link-active);
  --outline-offset: 7px;
  --opacity-on-hover: 0.7;
}

body {
  color: var(--color-text);
  background-color: var(--color-main-bg);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

.blink {
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

